set default="0"
set timeout=3

menuentry "Arch Linux ARM (TB520FU /dev/sda16)" {
    search --no-floppy --file --set=esp /EFI/BOOT/Image
    devicetree ($esp)/EFI/BOOT/sm8650-lenovo-tb520fu.dtb
    linux ($esp)/EFI/BOOT/Image root=/dev/sda16 rw earlycon console=tty0 clk_ignore_unused pd_ignore_unused regulator_ignore_unused arm-smmu.disable_bypass=0
}

menuentry "Diagnostic Rootfs (USB Serial Shell)" {
    search --no-floppy --file --set=esp /EFI/BOOT/Image
    devicetree ($esp)/EFI/BOOT/sm8650-lenovo-tb520fu.dtb
    linux ($esp)/EFI/BOOT/Image rd.shell=1 earlycon console=tty0 clk_ignore_unused pd_ignore_unused regulator_ignore_unused arm-smmu.disable_bypass=0
}
